<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    @for (cliente of clientes(); track cliente.id) {
      <tr>
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellidos}}</td>
        <td>{{cliente.email}}</td>
        <td>
          <a routerLink="/detalle/{{cliente.id}}">Editar</a>
          <a routerLink="" (click)="borrar(cliente.id)">Borrar</a>
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <a routerLink="/detalle">Añadir</a>
      </td>
    </tr>
  </tfoot>
</table>
